<html lang="en">
    <head>
        <title> Bookstore</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css">"
    </head>
    <body>
        <h4 class="c1">Delete Product</h4>
        <form action="/delete" method="POST">
            <label>Product Id:</label>
            <input type="string" placeholder="Enter Product ID" name="id"><br><br>

            <button id="delete"> Delete</button>
        </form>
        <a href="/" class="c2">Home Page</a>
    </body>
</html>
