<!--<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "style.css"> 
        <title>BookStore</title>
    </head>
    <body>
        <h4 class="c1">Update Quantity of a product</h4>
        <form method="post" action="/update">
            <label>Product Id:</label>&nbsp;
            <input type="text" placeholder="Enter Product ID" name="pid"><br>

            <label>New Stock:</label>&nbsp;
            <input type="text" placeholder="Enter Quantity" name="stock"><br><br>

            <button id="update">Update</button>
        </form>
        <a href="/" class="c2">Home Page</a>
    </body>
</html>-->
<html lang="en">
    <head>
        <title>BookStore</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h4 class="c1">Update Quantity of the Product</h4>
        <form action="/update" method="POST">
        <label>Product I.D.:</label>
        <input type="numebr" placeholder="Enter Product I.D.:" name="id"><br>
        <label>New Stock: </label>&nbsp;
         <input type ="number" placeholder ="Enter Quantity:" name ="Stock"><br><br>
         
         <button id="update">Update</button><button>
    </form>
    <a href="/" class="c2">Home Page</a>
    </body>
</html>